body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

th {
    color: #000000;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial;
}

input {
    color: #000000;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
}

body {}

.px {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.px5 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.title01 {
    color: #F92700;
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
}

.title_white {
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    font-family: Arial narrow, serif;
    font-weight: normal;
}

.list {
    color: #000000;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial;
    font-weight: normal;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.right {
    color: #FFFFFF;
    margin-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
}

.right a,
.list a {
    color: #FFFFFF;
}

.right a:hover {
    color: #AAAAAA;
}

.left {
    color: #000000;
    margin-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
}

.left b {
    color: #FFFFFF;
}

.left a {
    color: #FF6600;
}

.left a:hover {
    color: #FF0000;
}

p {
    color: #000000;
    margin-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial;
}

p a {
    color: #000000;
    font-weight: bold;
}

p a:hover {
    color: #294A7B;
}

.menu01 {
    margin-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-family: Arial, Tahoma, Verdana;
    font-weight: bold;
    text-transform: uppercase;
}

.menu01 a {
    color: #FF0000;
    font-weight: bold;
    text-transform: uppercase;
}

.menu01 a:hover {
    font-weight: bold;
    text-transform: uppercase;
}

.menu02 {
    color: #000000;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
    text-align: left;
}

.menu02 a {
    color: #000000;
    text-decoration: none;
}

.menu02 a:hover {
    color: #555555;
}

.title02 {
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
    text-indent: 14px;
    text-align: left;
    vertical-align: middle;
}

.list2 {
    color: #000000;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial;
    font-weight: normal;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.list3 {
    color: #000000;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.left2 {
    color: #000000;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}